html, body{
    width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family:'Helvetica', 'Arial', sans-serif;
    font-size: div 
}

a {
    text-decoration: none;
    color: #1a48cc;
}

h1 {
	color: #1a48cc;
}


/* -------------------------- Nav Bar --------------------- */
#bar-title {
	line-height: 49px;
	float: left;
	text-align: center;
	margin-left: 2.5vw;
	font-size: 25px;
	color: #0b319e;
}

#navbar {
    position: fixed;
    top: -1px;
    display: inline;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 100;
}

#navbar ul {
    display: inline;
}

#navbar li {
    display: inline;
    float: right;
    border-right: 1px solid lightgray;
    padding: 15px;
}

#navbar li:hover {
    color: #0b319e;
    background-color: rgba(230, 230, 230, 0.5);
}

#navbar li:nth-child(1) {
    display: inline;
    float: right;
    border-right: 0px solid black;   
}

#navbar li:nth-last-child(1) {
    display: inline;
    float: right;
    border-left: 1px solid lightgray;
}

/* ---------------------- header ------------------------- */

#header {
	position: relative;
    margin-top: 60px;
	margin-bottom: 0px;
}

img{
	border-radius: 20px;
	padding: 0;
	display: block;
	margin: 0, auto;
	max-height: 100%;
	max-width: 100%;
	z-index: 99;
}

#header h3{
	background-color: rgba(250,250,250,0.5);
	text-align: center;
	margin: 0;
	padding-top: 50px;
	font-size: 2em;
}

/*----------- about ----------------*/

#about {
    height: auto;
}

/*----------- team ----------------*/
#team {
	background-color: whitesmoke;
}

#team p {
    margin-left: 160px;
}

#ross {
	background-image: url('../assets/Ross.jpg');
}

#nicole {
	background-image: url('../assets/Nicole.jpg');
}

#isaac {
	background-image: url('../assets/Isaac.jpg');
}

#connor {
	background-image: url('../assets/Connor.jpg');
}

#landon {
	background-image: url('../assets/Landon.jpg');
}

#andrew {
	background-image: url('../assets/Andrew.jpg');
}

#possum {
	background-image: url('../assets/Possum.jpg');
}

#ansh {
	background-image: url('../assets/Ansh.jpg');
}

/*---------- contact -------------*/ 
#contact {
	background-color: whitesmoke;
}

#contact p {
	color: #1a48cc;
}

#contact p:hover {
	cursor: pointer;
	color: #0b319e;
    font-style: italic;
}

/*--------- classes ----------------*/

.team-member {
    min-height:  200px;
    width:   95%;
    background-color:   white;
    padding: 10px;
    margin:  10px auto 10px auto;
    border-radius: 10px;
}

.member-pic {
    width:  155px;
    height: 155px;
    border-radius: 10px;
    float: left;
    margin: 20px;
    border: 2px solid darkgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.centered {
    width:  95%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

